h1{
    text-align: center;
}
.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 2s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .btnnn {
    background-color: rgb(8, 122, 151);
    color: black;
    margin-left: 250px;
  }
  
  .btnnn:hover,
  .btnnn:active {
    color: white;
  }
  
  .btnnn span {
    margin: 0 0.5rem;
  }
  
  .badge {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0.15rem 1.25rem;
    color: #1d1d1d;
  }
  @media only screen and (max-width: 480px) {
    .meals {
      margin-left: 70px;
      width: 40rem;
    }
    .btnnn{
      margin-left: 250px;
    }
  @media only screen and (max-width: 600px) {
    .meals {margin-left: 250px;}
    .button{margin-left: 250px;}
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }}