h1{
    text-align: center;
}
.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .btnnn {
    background-color: rgb(8, 122, 151);
    color: black;
    margin-left: 250px;
  }
  
  .btnnn:hover,
  .btnnn:active {
    color: white;
  }
  
  .btnnn span {
    margin: 0 0.5rem;
  }
  
  .badge {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0.15rem 1.25rem;
    color: #1d1d1d;
  }
  @media only screen and (max-width: 480px) {
    .meals {
      margin-left: 20%;
      width: 40rem;
    }
    .btnnn{
      margin-left:120px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width:1000px) {
    .meals {margin-left: 5%;}
    .btnnn{
      margin-left:135px;
    }
  }
  
  
  
