.feedbacks {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    position: fixed;
    z-index: 1;
    margin-left:26% ;
    margin-top: 20%;
  }
  .newfeedbackactions{
    text-align: right;
  }
  h2{
      color: white;
      text-align: center;
      font-size: 40px;
  }
  .bnn{
      width: 100%;
  }