.backdropp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modall {
    position: fixed;
    top: 1vh;
    left: 2%;
    width: 80%;
    z-index: 1;
    overflow: hidden;
    animation: mymove 0.3s;

  }