.booking {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    font-size: 1.25rem;
  }

  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
  }
  .btnn{
    margin: auto;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 60%));
  }
    
  .btnn:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
  }
  .btnn:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(0.98);
  }
  
  .control input {
    display: block;
    width: 20rem;
    border-radius: 4px;
    padding: 0.50rem;
    border: 1px solid black;
    margin:auto;
  }
  @media only screen and (max-width: 480px) {
    .booking {
      margin-left: 70px;
      width: 40rem;
    }
    .btnn{
      margin-left: auto;
    }
  }
  


  
  


  