.newfeedbackcontrols {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 20rem;
    
  }
  
  .newfeedbackcontrol label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 20px;
  } 
  
  .newfeedbackcontrol input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid black;
    width: 47rem;
    max-width: 100%;
    display: inline;
  }
  
  
  .newfeedbackactions {
    text-align: right;
  }
  @media only screen and (max-width: 480px) {
    .newfeedbackcontrol input  {
      width: 37rem;
    }
  }