.newfeedback {
    background-color: white;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    overflow: auto;
    position: fixed;
    z-index: 1;
    margin-left:26% ;
  }
  .back{
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
    position: fixed;
    z-index: 1;
  }
  .newfeedback button {
    font: inherit;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(8, 122, 151);
    background-color: rgb(8, 122, 151);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .newfeedback button:hover,
  .newfeedback button:active {
    background-color: rgba(8, 122, 151,0.5);
    border-color: rgba(8, 122, 151,0.5);
  }
  
  .newfeedback button.alternative {
    color: rgb(8, 122, 151);
    border-color: transparent;
    background-color: transparent;
  }
  
  .newfeedback button.alternative:hover,
  .newfeedback button.alternative:active {
    background-color: rgb(8, 122, 151);
  }
  @media only screen and (max-width: 480px) {
    .newfeedback {
      margin-top: 150px;
      width: 40rem;
      margin-left: 60px;
      
    }
    .back{
      width: 100%;
      height: 300vh;
        }
  }
  @media only screen and (min-width: 600px) and (max-width:1000px) {
    .modal {margin-left: 7%;}
  }