.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);

  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 25%;
    width: 50%;
    z-index: 1;
    overflow: hidden;
    animation: meals-appear 1s ease-out forwards;

  }

  .content {
    padding: 1rem;
    background: white;
    font-size: large;
    font-weight: bold;
    font-family:cursive;
    font-size: 25px;

  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background: white;
  }
  @media only screen and (max-width: 480px) {
    .modal {
      margin-top: 150px;
      width: 30rem;
    }
    .backdrop{
      width: 100%;
      height: 250vh;    }
  }
  @media only screen and (min-width: 600px) and (max-width:1000px) {
    .modal {margin-left: 7%;}
  }
  

  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }